[submodule "glow"]
	path = glow
	url = https://github.com/pytorch/glow.git
	ignore = dirty
[submodule "vta/vtalib"]
	path = vta/vtalib
	url = ../vta_lib
	ignore = dirty
[submodule "tvm"]
	path = tvm
	url = https://github.com/apache/tvm.git
	ignore = dirty
[submodule "external_libs/newton"]
	path = external_libs/newton
	url = ../newton
