[submodule "glow"]
	path = glow
	url = https://github.com/pytorch/glow.git
	ignore = dirty
[submodule "vta/vtalib"]
	path = vta/vtalib
	url = ../vta_lib
	ignore = dirty
[submodule "tvm"]
	path = tvm
	url = https://github.com/apache/tvm.git
	ignore = dirty
[submodule "onnx_yaml-parser"]
	path = onnx_yaml-parser
	url = https://github.com/kjun25/onnx_yaml-parser.git
